.post-body{
    box-shadow: 0px 5px  gray;
    border-radius: 10px;
    margin:20px 100px;
    padding: 20px;
    padding-left:30px ;
}
.post-body:hover{
    box-shadow: 0px 5px  black;
    border-radius: 10px;
    
}
.btn-style{
    text-decoration: none;
}
